// #article .img-thumbnail {
//     max-height: 30vh;
//     object-fit: cover;
//     width: 100%;
// }
// article {
//     margin-bottom: 25px;
// }
// article a {
//     text-decoration: none;
//     color: black;
// }
// article p {
//     font-size: medium;
// }
#article {
    .content * {
        display: flex;
        align-items: flex-start;
        line-height: 1.5;
        max-height: 3;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}
