.bg-a-light {
    background-color: $cultured;
    color: $gunmetal;
}

.bg-a-dark {
    background-color: $gunmetal;
    color: $cultured;
}

.bg-b-light {
    background-color: $caribbean-green;
    color: $gunmetal;
}

.bg-b-dark {
    background-color: $gunmetal;
    color: $caribbean-green;
}

.bg-c-light {
    background-color: $cultured;
    color: $gunmetal;
}

.bg-c-dark {
    background-color: $gunmetal;
    color: $cultured;
}