.contactus input,
.contactus textarea {
    background-color: white;
    border: 0.5px black solid;
}

.contactus input:focus,
.contactus textarea:focus {
    background-color: white;
    box-shadow: none;
    border: 0.5px black solid;
}

.contactus #title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #212529;
}

#contactus {
    article#content {
        text-align: justify;
    }
}